[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# logging
daiquiri = "*"

# jupyter
ipython = "*"
ipykernel = "*"

# nbextensions
jupyter-require = "*"

[dev-packages]

[requires]
python_version = "3.6"
