/* main.css */

/*
 * Table styles
 */

table.dataTable {
  width: 100% !important;
  margin: 0 auto;
  clear: both;
  border-collapse: separate !important;
  border-spacing: 0;
}

.table-bordered {
    border: 1px solid #ddd !important;
}