/* main.css */

/*
 * Table styles
 */

table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate !important;
  border-spacing: 0;
}

table.dataTable th, td { white-space: nowrap !important; }

/* address double thead sorting rows */
.dataTables_scrollBody thead {visibility: collapse;}

/* overwrite pandas border */
.table-bordered {
    border: 1px solid #ddd !important;
}

